* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: "Roboto", sans-serif;
}

.logo {
    font-weight: bold;
    font-size: 28px;
    display: inline;
}

header {
    background-color: #0078aa;
    color: #fff;
    width: 100%;
    padding: 25px;
}

header a {
    color: white;
    margin: 0 38px 0 38px;
}

.header-primeiro-link {
    margin-left: 44px;
    margin-right: 38px;
}
